# main.ipynb

This notebook runs the data parsing notebook `parse_data.ipynb` and reports a summary.

In [1]:
%run parse_data.ipynb

In [2]:
df.describe()

,month,hour,concentration,dew point,temperature,pressure,wind speed,rainfall duration
count,41757.000000,41757.000000,41757.000000,41757.000000,41757.000000,41757.000000,41757.000000,41757.000000
mean,6.513758,11.502311,98.613215,1.750174,12.401561,1016.442896,23.866747,0.194866
std,3.454199,6.924848,92.050387,14.433658,12.175215,10.300733,49.617495,1.418165
min,1.000000,0.000000,0.000000,-40.000000,-19.000000,991.000000,0.450000,0.000000
25%,4.000000,5.000000,29.000000,-10.000000,2.000000,1008.000000,1.790000,0.000000
50%,7.000000,12.000000,72.000000,2.000000,14.000000,1016.000000,5.370000,0.000000
75%,10.000000,18.000000,137.000000,15.000000,23.000000,1025.000000,21.910000,0.000000
max,12.000000,23.000000,994.000000,28.000000,42.000000,1046.000000,565.490000,36.000000