# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [1]:
import pandas as pd

df0 = pd.read_csv('Air_Quality_Data.csv')

df0.describe()

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir
count,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,41757.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000
mean,21912.500000,2012.000000,6.523549,15.727820,11.500000,98.613215,1.817246,12.448521,1016.447654,23.889140,0.052734,0.194916
std,12651.043435,1.413842,3.448572,8.799425,6.922266,92.050387,14.433440,12.198613,10.268698,50.010635,0.760375,1.415867
min,1.000000,2010.000000,1.000000,1.000000,0.000000,0.000000,-40.000000,-19.000000,991.000000,0.450000,0.000000,0.000000
25%,10956.750000,2011.000000,4.000000,8.000000,5.750000,29.000000,-10.000000,2.000000,1008.000000,1.790000,0.000000,0.000000
50%,21912.500000,2012.000000,7.000000,16.000000,11.500000,72.000000,2.000000,14.000000,1016.000000,5.370000,0.000000,0.000000
75%,32868.250000,2013.000000,10.000000,23.000000,17.250000,137.000000,15.000000,23.000000,1025.000000,21.910000,0.000000,0.000000
max,43824.000000,2014.000000,12.000000,31.000000,23.000000,994.000000,28.000000,42.000000,1046.000000,585.600000,27.000000,36.000000

Check and Remove Missing Value

In [2]:
#  check with this code print(df0.isnull().sum()) 

df_clean = df0.dropna(subset=['pm2.5'])

df_clean.describe()

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir
count,41757.000000,41757.000000,41757.000000,41757.000000,41757.000000,41757.000000,41757.000000,41757.000000,41757.000000,41757.000000,41757.000000,41757.000000
mean,22279.380104,2012.042771,6.513758,15.685514,11.502311,98.613215,1.750174,12.401561,1016.442896,23.866747,0.055344,0.194866
std,12658.168415,1.415311,3.454199,8.785539,6.924848,92.050387,14.433658,12.175215,10.300733,49.617495,0.778875,1.418165
min,25.000000,2010.000000,1.000000,1.000000,0.000000,0.000000,-40.000000,-19.000000,991.000000,0.450000,0.000000,0.000000
25%,11464.000000,2011.000000,4.000000,8.000000,5.000000,29.000000,-10.000000,2.000000,1008.000000,1.790000,0.000000,0.000000
50%,22435.000000,2012.000000,7.000000,16.000000,12.000000,72.000000,2.000000,14.000000,1016.000000,5.370000,0.000000,0.000000
75%,33262.000000,2013.000000,10.000000,23.000000,18.000000,137.000000,15.000000,23.000000,1025.000000,21.910000,0.000000,0.000000
max,43824.000000,2014.000000,12.000000,31.000000,23.000000,994.000000,28.000000,42.000000,1046.000000,565.490000,27.000000,36.000000

<br>
<br>

The dependent and independent variables variables (DVs and IVs) that we are interested in are:

**DVs**:
- Hourly Concentration of PM 2.5 (pm2.5) 

**IVs**:
- Dew Point (DEWP, in °C)
- Temperature (TEMP, in °C)
- Pressure (PRES, in hPa)
- Cumulated Wind Speed (lws, in m/s)
- Cumulated Hours of Rain (lr)
- Temporal factors (month)

<br>
<br>

Let's extract the relevant columns:

In [3]:

df = df_clean[ ['month','pm2.5', 'DEWP', 'TEMP', 'PRES', 'Iws', 'Ir' ] ]

df.describe()

,month,pm2.5,DEWP,TEMP,PRES,Iws,Ir
count,41757.000000,41757.000000,41757.000000,41757.000000,41757.000000,41757.000000,41757.000000
mean,6.513758,98.613215,1.750174,12.401561,1016.442896,23.866747,0.194866
std,3.454199,92.050387,14.433658,12.175215,10.300733,49.617495,1.418165
min,1.000000,0.000000,-40.000000,-19.000000,991.000000,0.450000,0.000000
25%,4.000000,29.000000,-10.000000,2.000000,1008.000000,1.790000,0.000000
50%,7.000000,72.000000,2.000000,14.000000,1016.000000,5.370000,0.000000
75%,10.000000,137.000000,15.000000,23.000000,1025.000000,21.910000,0.000000
max,12.000000,994.000000,28.000000,42.000000,1046.000000,565.490000,36.000000

<br>
<br>

Next let's use the `rename` function to give the columns clear variable names:

In [4]:
df = df.rename( columns={'pm2.5':'concentration','DEWP':'dew point', 'TEMP':'temperature','PRES':'pressure', 'Iws':'wind speed', 'Ir':'rainfall duration'})
numerical = ['concentration', 'dew point', 'temperature', 'pressure', 'wind speed', 'rainfall duration']

df[numerical].describe()

,concentration,dew point,temperature,pressure,wind speed,rainfall duration
count,41757.000000,41757.000000,41757.000000,41757.000000,41757.000000,41757.000000
mean,98.613215,1.750174,12.401561,1016.442896,23.866747,0.194866
std,92.050387,14.433658,12.175215,10.300733,49.617495,1.418165
min,0.000000,-40.000000,-19.000000,991.000000,0.450000,0.000000
25%,29.000000,-10.000000,2.000000,1008.000000,1.790000,0.000000
50%,72.000000,2.000000,14.000000,1016.000000,5.370000,0.000000
75%,137.000000,15.000000,23.000000,1025.000000,21.910000,0.000000
max,994.000000,28.000000,42.000000,1046.000000,565.490000,36.000000